[submodule "vim/pack/plugins/start/vim-polyglot"]
	path = packages/vim/.vim/pack/plugins/start/vim-polyglot
    url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/plugins/start/wiki.vim"]
	path = packages/vim/.vim/pack/plugins/start/wiki.vim
    url = https://github.com/lervag/wiki.vim.git
[submodule "vim/pack/plugins/start/vim-rsi"]
	path = packages/vim/.vim/pack/plugins/start/vim-rsi
    url = https://github.com/tpope/vim-rsi.git
[submodule "vim/pack/plugins/start/vim-surround"]
	path = packages/vim/.vim/pack/plugins/start/vim-surround
    url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = packages/vim/.vim/pack/plugins/start/vim-commentary
    url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/plugins/start/vim-unimpaired"]
	path = packages/vim/.vim/pack/plugins/start/vim-unimpaired
    url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/pack/plugins/start/ale"]
	path = packages/vim/.vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = packages/vim/.vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
